<mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  *ngIf="dataSource"
>
  <ng-container matColumnDef="hotelName">
    <mat-header-cell *matHeaderCellDef>
      {{ dataTour.direction }}
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.hotelName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.price }} {{ element.currency }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
